div, ul, li {
	box-sizing: border-box;
}
.wrapper {
	overflow: hidden;
}
.window {
	border: solid 1px #999;
	border-radius: 3px;
	box-shadow: inset 0 24px 30px -12px #696868, inset  0 -24px 30px -12px #696868;
	display: block;
	float: left;
	margin-right: 10px;
	width: 100px;
	height: 180px;
	overflow: hidden;
	position: relative;
}
.reel {
	margin: 0;
	padding: 0;
	position: absolute;
}
.reel li {
	display: block;
	line-height: 180px;
	text-align: center;
	width: 100px;
	height: 180px;
}
.inactive {
	background-color: #CCC;
	pointer-events: none;
}