div, ul, li {
	box-sizing: border-box;
}
.wrapper {
	overflow: hidden;
}
.window {
	display: block;
	float: left;
	width: 100px;
	height: 66px;
	overflow: hidden;
	position: relative;
}
.reel {
	margin: 0;
	padding: 0;
	position: absolute;
}
.reel li {
	display: block;
	border: solid 1px #999;
	width: 100px;
	height: 66px;
}
.inactive {
	background-color: #CCC;
	pointer-events: none;
}