/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** CUSTOM STYLES ***/
body {
	font-family: 'Montserrat';
	text-align: center;
}
div, ul, li {
	box-sizing: border-box;
}
h1 {
	color: #330000;
	font-size: 24px;
	margin-top: 40px;
}
#slot-machine {
	background-color: #D4AF37;
	border-radius: 5px;
	box-shadow: 4px 2px 10px -1px #321111;
	display: block;
	margin: 20px auto;
	overflow: hidden;
	padding: 20px;
	width: 400px;
}
.reels-section {
	display: block;
	float: left;
	margin-bottom: 20px;
	overflow: hidden;
}
.reel-window {
	background-color: #FFFFFF;
	border: solid 1px #999;
	border-radius: 3px;
	display: block;
	float: left;
	height: 180px;
	margin-right: 10px;
	overflow: hidden;
	position: relative;
	width: 100px;
}
.reel-window:after {
	box-shadow: inset 0 24px 30px -12px #696868, inset  0 -24px 30px -12px #696868;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.reel-window:last-child {
	margin-right: 0;
}
.reel {
	margin: 0;
	padding: 0;
	position: absolute;
}
.reel li {
	background-image: url('reel-sprite.png');
	display: block;
	line-height: 180px;
	text-align: center;
	width: 100px;
	height: 180px;
}
#maker .coffee {
	background-position: 0 0;
}
#maker .tea {
	background-position: -100px 0;
}
#maker .espresso {
	background-position: 100px 0;
}
#filter .coffee {
	background-position: 0 -180px;
}
#filter .tea {
	background-position: -100px -180px;
}
#filter .espresso {
	background-position: 100px -180px;
}
#grounds .coffee {
	background-position: 0 180px;
}
#grounds .tea {
	background-position: -100px 180px;
}
#grounds .espresso {
	background-position: 100px 180px;
}
.lever-area {
	cursor: pointer;
	display: block;
	float: left;
	height: 180px;
	position: relative;
	width: 40px;
}
.lever-area.active {
	cursor: default;
	pointer-events: none;
}
.lever-groove {
	background-color: #7F7F7F;
	border-radius: 2px;
	display: block;
	left: 24px;
	width: 4px;
	height: 180px;
	position: absolute;
}
.lever {
	background-color: #333333;
	height: 90px;
	transition: transform 0.25s;
	transform-origin: 0 100%;
	width: 4px;
}
.lever:before {
	background-color: #663333;
	border-radius: 10px;
	box-shadow: 0 1px 1px 1px #000000;
	content: '';
	display: block;
	left: -10px;
	top: 0;
	position: absolute;
	width: 25px;
	height: 10px;
}
.lever-area.down .lever {
	transform: rotateX(180deg);
}
.marquee {
	border-radius: 3px;
	clear: left;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}
.marquee:before {
	box-shadow: 0 0 10px 1px #666 inset;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.marquee .default {
	background-color: #C9C9C9;
	color: #636363;
}
.marquee .lose {
	background-color: #FFCCCC;
	color: red;
}
.marquee .win {
	background-color: #CCFFCC;
	color: green;
}
.drink-window {
	background-color: #333333;
	background-image: url('drink.png');
	background-position: 0 -5px;
	border: groove 2px #CCCCCC;
	border-radius: 5px;
	display: block;
	margin: 15px auto 0;
	overflow: hidden;
	position: relative;
	width: 100px;
	height: 60px;
}
.drink-window:before {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 */
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	transition: top 0.25s;
	top: 0;
	width: 100%;
}
.drink-window.open:before {
	top: -100%;
}